version: '3.9'
name: neurotic-web

services:
  postgres:
    image: postgres:16-alpine
    restart: unless-stopped
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 10s
      timeout: 5s
      retries: 5

  dbgate:
    image: dbgate/dbgate
    restart: unless-stopped
    ports:
      - '3001:3000'
    volumes:
      - dbgate-data:/root/.dbgate
    environment:
      CONNECTIONS: con1
      LABEL_con1: Neurotic DB
      SERVER_con1: postgres
      USER_con1: postgres
      PASSWORD_con1: postgres
      PORT_con1: 5432
      DATABASE_con1: app
      ENGINE_con1: postgres@dbgate-plugin-postgres
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  postgres-data:
  dbgate-data:
